{% extends 'base.html.twig' %}

{% block title %}Ultra Manga
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="/styles/fonts.css">
	<link rel="stylesheet" href="/styles/vitrine.css">
{% endblock %}
{% block body %}
	<section>
		<header class="header-container">
			<img src="assets/imagesStatic/ultraMangaLogoPoly.png" alt="">
		</header>
		<div class="title-container">
			<h1>La meilleure compétition de manga en France arrive bientôt.</h1>
			<p>Saisissez votre adresse e-mail pour être averti du début de la compétition
			</p>
		</div>
		<form class="reserver" action="">
			<input placeholder="Adresse mail" type="mail">
			<button>Reservez votre place</button>
		</form>
		<div class="video-container">
			<iframe style="border:0;" width="1116" height="536" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
		</div>
        <div class="reseau-container">
            <p>Suivez le projet sur les réseaux sociaux</p>
            <a href="#youtube"><img src="assets/imagesStatic/youtube2.png" alt=""></a>
            <a href="twitter"><img src="assets/imagesStatic/twitter2.png" alt=""></a>
            <a href="facebook"><img src="assets/imagesStatic/facebook2.png" alt=""></a>
            <a href="insta"><img src="assets/imagesStatic/insta2.png" alt=""></a>
        </div>
	</section>
{% endblock %}
